body {
  font-family: Georgia, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: black;
  color: white;
}

.sidebar {
  width: 250px;
  background: black;
  color: #bcc3c5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: auto;
  z-index: 1000;
}

.sidebar .profile {
  margin-top: 20px;
}

.sidebar .profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a {
  color: #bcc3c5;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease, font-size 0.3s ease;
}

.sidebar nav ul li a:hover {
  color: #ffffff;
  font-size: 1.2em;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.sidebar .social-links {
  margin-top: auto;
  padding-bottom: 20px;
}

.sidebar .social-links a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin: 10px 0;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
  background-color: black;
  color: white;
  overflow: auto;
  height: 100vh;
}

.section {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.section:nth-child(odd) .content {
  order: 2;
}

.section .content {
  flex: 1;
  padding: 50px;
}

.section .image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section .image img {
  max-width: 78%;
  border-radius: 90%;
}

h2,
h4 {
  font-family: "Georgia", sans-serif;
  color: #989896;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #989896;
  transition: transform 0.7s ease, opacity 1s ease;
  opacity: 0;
  transform: rotate(0deg);
}
h2.show {
  opacity: 1;
  transform: rotate(180deg);
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

h2.center-text {
  font-size: 24px;
  margin-bottom: 10px;
  color: #989896;
  opacity: 1; /* Ensure visibility */
  transform: rotate(0deg); /* No rotation */
  transition: none; /* No transition */
}

/* Typing Effect */
.welcome {
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid rgb(255, 255, 255);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}

/* Glitter Effect */
.jk.glitter {
  background: #989896;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-size: 36px;
}

.jk.glitter::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 200%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  animation: shimmer 2s infinite;
  display: none;
}

.jk.glitter:hover::before {
  display: block;
}

@keyframes shimmer {
  0% {
    left: -150%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

a {
  font-family: "Georgia", sans-serif;
  color: #6161e1;
}

p {
  font-family: "Georgia", sans-serif;
  color: #ffffff;
}

.image-collage {
  display: flex;
  flex-direction: column;
}

.image-row {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.image-container {
  flex: 1;
  margin: 0 5px;
  text-align: center;
}

.internship-img {
  max-width: 65%;
  height: auto;
}

.description {
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.5;
  color: #f7e4e4;
}

.experience-button {
  background-color: #747574;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer; /* Pointer cursor */
  border-radius: 5px; /* Rounded corners */
}

.experience-button:hover {
  background-color: rgb(107, 107, 107);
  color: rgb(255, 255, 255);
}

.grj-button {
  background-color: #747574;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.grj-button:hover {
  background-color: rgb(107, 107, 107);
  color: rgb(255, 255, 255);
}

.download-button {
  background-color: #747574;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Get the element to sit inline */
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.download-button:hover {
  background-color: rgb(107, 107, 107);
  color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }

  .section {
    flex-direction: column;
  }
}
